Importing Libraries

In [0]:
import tensorflow as tf
from tensorflow.keras.layers import Dense,Dropout,BatchNormalization
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

Load the data

In [0]:
cols = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y']
dataset = pd.read_csv("/content/drive/My Drive/Dl ann/sensor_readings_24.csv", names = cols)

In [0]:
dataset.head()

       a      b      c      d  ...      v      w      x                  y
0  0.438  0.498  3.625  3.645  ...  0.444  0.440  0.429  Slight-Right-Turn
1  0.438  0.498  3.625  3.648  ...  0.444  0.443  0.429  Slight-Right-Turn
2  0.438  0.498  3.625  3.629  ...  0.444  0.446  0.429  Slight-Right-Turn
3  0.437  0.501  3.625  3.626  ...  0.444  0.444  0.429  Slight-Right-Turn
4  0.438  0.498  3.626  3.629  ...  0.444  0.441  0.429  Slight-Right-Turn

[5 rows x 25 columns]

In [0]:
dataset.shape

(5456, 25)

In [0]:
labelencoder = LabelEncoder()
dataset['y'] = labelencoder.fit_transform(dataset['y'])

In [0]:
dataset.head()

       a      b      c      d    e      f  ...      t      u      v      w      x  y
0  0.438  0.498  3.625  3.645  5.0  2.918  ...  0.445  0.431  0.444  0.440  0.429  3
1  0.438  0.498  3.625  3.648  5.0  2.918  ...  0.449  0.431  0.444  0.443  0.429  3
2  0.438  0.498  3.625  3.629  5.0  2.918  ...  0.449  0.431  0.444  0.446  0.429  3
3  0.437  0.501  3.625  3.626  5.0  2.918  ...  0.449  0.431  0.444  0.444  0.429  3
4  0.438  0.498  3.626  3.629  5.0  2.918  ...  0.449  0.431  0.444  0.441  0.429  3

[5 rows x 25 columns]

In [0]:
x = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [0]:
x

          a      b      c      d      e  ...      t      u      v      w      x
0     0.438  0.498  3.625  3.645  5.000  ...  0.445  0.431  0.444  0.440  0.429
1     0.438  0.498  3.625  3.648  5.000  ...  0.449  0.431  0.444  0.443  0.429
2     0.438  0.498  3.625  3.629  5.000  ...  0.449  0.431  0.444  0.446  0.429
3     0.437  0.501  3.625  3.626  5.000  ...  0.449  0.431  0.444  0.444  0.429
4     0.438  0.498  3.626  3.629  5.000  ...  0.449  0.431  0.444  0.441  0.429
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
5451  0.910  5.000  3.997  2.785  2.770  ...  5.000  1.045  5.000  5.000  1.562
5452  0.926  5.000  4.015  2.792  2.777  ...  1.616  1.058  5.000  5.000  1.085
5453  0.937  5.000  4.034  2.799  2.784  ...  5.000  1.065  5.000  5.000  1.105
5454  0.945  4.052  4.052  2.809  2.791  ...  5.000  1.076  5.000  5.000  1.118
5455  0.950  4.066  5.000  2.819  2.798  ...  5.000  1.083  5.000  5.000  1.168

[5456 rows x 24 columns]

In [0]:
y

0       3
1       3
2       3
3       3
4       3
       ..
5451    0
5452    1
5453    1
5454    0
5455    1
Name: y, Length: 5456, dtype: int64

In [0]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state=0)

In [0]:
x_train.shape

(4364, 24)

In [0]:
y_train.shape

(4364,)

In [0]:
set(y_train)

{0, 1, 2, 3}

In [0]:
x_test.shape

(1092, 24)

In [0]:
y_test.shape

(1092,)

In [0]:
y_train

565     0
1763    1
104     1
188     1
3758    0
       ..
4931    0
3264    3
1653    3
2607    2
2732    1
Name: y, Length: 4364, dtype: int64

In [0]:
x_train

          a      b      c      d      e  ...      t      u      v      w      x
565   0.761  0.787  1.540  2.114  3.298  ...  1.070  0.758  0.742  0.731  0.741
1763  2.546  2.635  2.179  2.489  1.875  ...  0.785  5.000  4.840  3.624  5.000
104   1.250  1.274  1.299  1.336  4.893  ...  0.665  0.697  0.785  5.000  1.240
188   1.360  5.000  1.897  1.909  3.207  ...  0.687  1.059  1.373  1.345  1.347
3758  0.673  4.861  1.331  1.352  1.434  ...  0.726  0.688  0.667  0.651  0.665
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
4931  0.745  5.000  5.000  3.333  2.883  ...  0.670  0.694  0.689  0.700  0.725
3264  1.129  5.000  5.000  5.000  4.248  ...  0.488  0.635  1.111  1.096  1.139
1653  1.464  2.491  2.494  1.928  1.919  ...  0.429  1.463  1.448  1.438  1.448
2607  2.052  2.052  2.034  2.001  1.991  ...  2.090  0.749  2.037  2.027  2.045
2732  2.477  2.349  1.716  1.575  1.168  ...  4.427  3.711  3.714  5.000  2.407

[4364 rows x 24 columns]

In [0]:
from keras.utils import np_utils
y_train = np_utils.to_categorical(y_train,10)
y_test = np_utils.to_categorical(y_test,10)

Using TensorFlow backend.

In [0]:
y_train

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]], dtype=float32)

In [0]:
y_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]], dtype=float32)

Build the neural network

In [0]:
model = Sequential()

model.add(Dense(64, input_dim=24, activation = None))    #input_layer
#model.add(BatchNormalization())
#model.add(Dropout(0.2))


model.add(Dense(128 , activation= 'relu'))     #Hidden_layer
#model.add(BatchNormalization())
#model.add(Dropout(0.2))

model.add(Dense(128 , activation= 'relu'))     #Hidden_layer
#model.add(BatchNormalization())
#model.add(Dropout(0.2))


model.add(Dense(10, activation = 'softmax'))   #Output_layer

In [0]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_12 (Dense)             (None, 64)                1600
_________________________________________________________________
dense_13 (Dense)             (None, 128)               8320
_________________________________________________________________
dense_14 (Dense)             (None, 128)               16512
_________________________________________________________________
dense_15 (Dense)             (None, 10)                1290
=================================================================
Total params: 27,722
Trainable params: 27,722
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.compile(loss = 'categorical_crossentropy', optimizer = 'adam' , metrics = ['accuracy'])

In [0]:
model.fit(x_train, y_train,epochs = 30, batch_size=100)

Epoch 1/30
44/44 [==============================] - 0s 2ms/step - loss: 1.0080 - accuracy: 0.6049
Epoch 2/30
44/44 [==============================] - 0s 3ms/step - loss: 0.6648 - accuracy: 0.7328
Epoch 3/30
44/44 [==============================] - 0s 3ms/step - loss: 0.5727 - accuracy: 0.7743
Epoch 4/30
44/44 [==============================] - 0s 3ms/step - loss: 0.5108 - accuracy: 0.8057
Epoch 5/30
44/44 [==============================] - 0s 2ms/step - loss: 0.4506 - accuracy: 0.8357
Epoch 6/30
44/44 [==============================] - 0s 2ms/step - loss: 0.3980 - accuracy: 0.8524
Epoch 7/30
44/44 [==============================] - 0s 3ms/step - loss: 0.3597 - accuracy: 0.8696
Epoch 8/30
44/44 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8724
Epoch 9/30
44/44 [==============================] - 0s 3ms/step - loss: 0.3207 - accuracy: 0.8788
Epoch 10/30
44/44 [==============================] - 0s 3ms/step - loss: 0.3107 - accuracy: 0.8857
Epoch 11/30
44/44 [==============================] - 0s 2ms/step - loss: 0.2770 - accuracy: 0.8941
Epoch 12/30
44/44 [==============================] - 0s 2ms/step - loss: 0.2796 - accuracy: 0.8957
Epoch 13/30
44/44 [==============================] - 0s 2ms/step - loss: 0.2458 - accuracy: 0.9102
Epoch 14/30
44/44 [==============================] - 0s 3ms/step - loss: 0.2483 - accuracy: 0.9049
Epoch 15/30
44/44 [==============================] - 0s 3ms/step - loss: 0.2492 - accuracy: 0.9095
Epoch 16/30
44/44 [==============================] - 0s 3ms/step - loss: 0.2283 - accuracy: 0.9173
Epoch 17/30
44/44 [==============================] - 0s 2ms/step - loss: 0.2136 - accuracy: 0.9198
Epoch 18/30
44/44 [==============================] - 0s 3ms/step - loss: 0.2138 - accuracy: 0.9187
Epoch 19/30
44/44 [==============================] - 0s 2ms/step - loss: 0.2116 - accuracy: 0.9203
Epoch 20/30
44/44 [==============================] - 0s 2ms/step - loss: 0.2051 - accuracy: 0.9280
Epoch 21/30
44/44 [==============================] - 0s 2ms/step - loss: 0.1925 - accuracy: 0.9294
Epoch 22/30
44/44 [==============================] - 0s 3ms/step - loss: 0.1962 - accuracy: 0.9251
Epoch 23/30
44/44 [==============================] - 0s 3ms/step - loss: 0.1848 - accuracy: 0.9285
Epoch 24/30
44/44 [==============================] - 0s 2ms/step - loss: 0.1645 - accuracy: 0.9388
Epoch 25/30
44/44 [==============================] - 0s 2ms/step - loss: 0.1729 - accuracy: 0.9374
Epoch 26/30
44/44 [==============================] - 0s 2ms/step - loss: 0.1565 - accuracy: 0.9427
Epoch 27/30
44/44 [==============================] - 0s 2ms/step - loss: 0.1519 - accuracy: 0.9436
Epoch 28/30
44/44 [==============================] - 0s 3ms/step - loss: 0.1509 - accuracy: 0.9441
Epoch 29/30
44/44 [==============================] - 0s 2ms/step - loss: 0.1492 - accuracy: 0.9448
Epoch 30/30
44/44 [==============================] - 0s 2ms/step - loss: 0.1430 - accuracy: 0.9496

In [0]:
model.fit(x_train, y_train,validation_data = (x_test,y_test),epochs = 30, batch_size=100)

Epoch 1/30
44/44 [==============================] - 0s 8ms/step - loss: 0.1596 - accuracy: 0.9384 - val_loss: 0.2566 - val_accuracy: 0.9075
Epoch 2/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1488 - accuracy: 0.9439 - val_loss: 0.2554 - val_accuracy: 0.9130
Epoch 3/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1538 - accuracy: 0.9411 - val_loss: 0.1970 - val_accuracy: 0.9295
Epoch 4/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1264 - accuracy: 0.9539 - val_loss: 0.3007 - val_accuracy: 0.8938
Epoch 5/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1400 - accuracy: 0.9484 - val_loss: 0.1940 - val_accuracy: 0.9350
Epoch 6/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1244 - accuracy: 0.9555 - val_loss: 0.2029 - val_accuracy: 0.9322
Epoch 7/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1185 - accuracy: 0.9565 - val_loss: 0.2023 - val_accuracy: 0.9341
Epoch 8/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1131 - accuracy: 0.9588 - val_loss: 0.2204 - val_accuracy: 0.9359
Epoch 9/30
44/44 [==============================] - 0s 5ms/step - loss: 0.1135 - accuracy: 0.9562 - val_loss: 0.2009 - val_accuracy: 0.9350
Epoch 10/30
44/44 [==============================] - 0s 5ms/step - loss: 0.1096 - accuracy: 0.9604 - val_loss: 0.2641 - val_accuracy: 0.9084
Epoch 11/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1076 - accuracy: 0.9597 - val_loss: 0.1936 - val_accuracy: 0.9332
Epoch 12/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1012 - accuracy: 0.9599 - val_loss: 0.1997 - val_accuracy: 0.9423
Epoch 13/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1023 - accuracy: 0.9620 - val_loss: 0.2013 - val_accuracy: 0.9313
Epoch 14/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0944 - accuracy: 0.9645 - val_loss: 0.2486 - val_accuracy: 0.9176
Epoch 15/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1171 - accuracy: 0.9544 - val_loss: 0.2113 - val_accuracy: 0.9304
Epoch 16/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1100 - accuracy: 0.9578 - val_loss: 0.2747 - val_accuracy: 0.9075
Epoch 17/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0978 - accuracy: 0.9638 - val_loss: 0.2133 - val_accuracy: 0.9332
Epoch 18/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0911 - accuracy: 0.9675 - val_loss: 0.2152 - val_accuracy: 0.9386
Epoch 19/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0941 - accuracy: 0.9631 - val_loss: 0.2256 - val_accuracy: 0.9377
Epoch 20/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0944 - accuracy: 0.9659 - val_loss: 0.2417 - val_accuracy: 0.9295
Epoch 21/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0872 - accuracy: 0.9704 - val_loss: 0.2051 - val_accuracy: 0.9368
Epoch 22/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0805 - accuracy: 0.9704 - val_loss: 0.2359 - val_accuracy: 0.9203
Epoch 23/30
44/44 [==============================] - 0s 4ms/step - loss: 0.1188 - accuracy: 0.9528 - val_loss: 0.2401 - val_accuracy: 0.9295
Epoch 24/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0894 - accuracy: 0.9668 - val_loss: 0.2301 - val_accuracy: 0.9322
Epoch 25/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0771 - accuracy: 0.9711 - val_loss: 0.2111 - val_accuracy: 0.9377
Epoch 26/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0920 - accuracy: 0.9631 - val_loss: 0.2731 - val_accuracy: 0.9249
Epoch 27/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0850 - accuracy: 0.9656 - val_loss: 0.2056 - val_accuracy: 0.9350
Epoch 28/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0941 - accuracy: 0.9643 - val_loss: 0.2371 - val_accuracy: 0.9322
Epoch 29/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0989 - accuracy: 0.9610 - val_loss: 0.2673 - val_accuracy: 0.9286
Epoch 30/30
44/44 [==============================] - 0s 4ms/step - loss: 0.0844 - accuracy: 0.9711 - val_loss: 0.2410 - val_accuracy: 0.9295